/* header.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf9f6; /* Light beige-like background */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 8vw;
    background-color: #fdf9f6;
    
  }
  
.logo-container {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
  justify-content: flex-start; /* Aligns them to the left */
}


  .logo-container a {
    text-decoration: none; 
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .image-overlay {
    display: flex;
    align-items: center;
    position: relative; /* Container for overlaying images */
    width: 60px; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
  }

  .logo {
    width: 60px;
    height: 60px;
    background-color: #fdfaf2; /* Light green circle */
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s; /* Add this line for animation */
    z-index: 1;
}

  .overlay-logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 14.5px;
    transition: transform 0.5s; /* Add this line for animation */
    z-index: 2; /* Overlay image */
    opacity: 1;
  }

.header-text {
  width: 10vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: #333;
  /* max-width: 40%; */
  text-align: left;
  margin-left: 1.5vw;
}

  .image-overlay:hover .logo {
    transform: scale(1.25) rotate(360deg); /* Rotate clockwise */
}

.image-overlay:hover .overlay-logo {
    transform: scale(1.25) /*rotate(-360deg)*/; /* Combine transforms */
}
.image-overlay:hover .header-text {
  transform: scale(1.1);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Horizontal and vertical shadow */
              0 6px 20px rgba(0, 0, 0, 0.19); /* Larger shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
}
  
  .nav-links {
    display: flex;
    gap: 2vw;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: bold;
    color: #333;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #000;
    text-decoration: underline;
  }
  
  .language-selector {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    margin-left: 0px;
  }
  
  .language-selector .arrow-down {
    margin-left: 5px;
    font-size: 2vw;
    transition: transform 0.3s;
  }
  
  .language-selector:hover .arrow-down {
    transform: rotate(180deg); /* Rotate arrow on hover */
  }