/* projects.css */

.project-entry-block {
    margin: 2rem;
    width: 100%;
    height: 100%; 
    background: #fff;
    border-radius: 5%;
    display: flex;
    align-items: top;
    justify-content: center; 
    position: relative;
    padding-bottom: 10%;
}

/* Ensure that links inside project-entry-block have no underline */
.project-entry-block a {
    text-decoration: none;
}
  
  .project-entry-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .project-img {
    width: 95%; 
    position: relative;
    z-index: 1;
    margin-top: 2.5%;
    border-radius: 5%;
  }

.project-caption {
    position: relative;
    top: 3%;
    font-family: fantasy;
    font-size: 175%;
    font-weight: 600; /* Increase font-weight to the maximum value */
    text-shadow: 1.5px 1.5px 2px #333; /* Add a more pronounced text shadow */
    color: #333;
    z-index: 4;
    width: 90%; 
    margin-left: 5%;
    text-align: left;
  }

.project-genre {
    position: absolute;
    bottom: 0.5%;
    font-family: fantasy;
    font-size: 150%;
    font-weight: 1000; /* Increase font-weight to the maximum value */
    text-shadow: 1px 1px 2px #5073D6;
    color: #5073D6;
    z-index: 4;
    width: 100%; 
    font-family: 'Nunito', sans-serif;
}

.project-container {
    max-width: 30%;
    flex: 1 1 calc(33.333%);
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 4%;
}

/* Layout for medium screens (e.g., tablets, between 768px to 1024px) */
@media (max-width: 1024px) {
    .project-container {
        max-width: 45%;
        flex: 1 1 calc(50%);
    }
}

/* Layout for smaller screens (e.g., small tablets or larger phones, between 480px and 767px) */
@media (max-width: 767px) {
    .project-container {
        max-width: 100%;
        flex: 1 1 calc(100%);
    }
}

/* Layout for extra small screens (e.g., phones, below 480px) */
@media (max-width: 480px) {
    .project-container {
        max-width: 100%;
        flex: 1 1 calc(100%);
    }
}