/* projects.css */

.page-warmer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .banner-image-overlay {
    margin-left: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Container for overlaying images */
  }
  
  .banner-logo-p {
    width: 40vw;
    background-color: #fdf9f6; /* Light green circle */
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s; /* Add this line for animation */
    z-index: 1;
}

  .banner-overlay-logo-p {
    width: 25.5vw;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.5s; /* Add this line for animation */
    z-index: 2; /* Overlay image */
    opacity: 1;
  }
  
  .page-text {
    font-size: 3vw;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 2px #6d6c6c;
    margin-left: 5vw;
    margin-right: 10vw;
    text-align: left;
    font-family: 'Libre Baskerville', cursive;
  }

.project-entry-block {
    margin: 2rem;
    width: 100%;
    height: 90%; 
    background: #fff;
    border-radius: 5%;
    display: flex;
    align-items: top;
    justify-content: center; 
    position: relative;
    padding-bottom: 10%;
    transition: transform 0.5s;
}

/* Ensure that links inside project-entry-block have no underline */
.project-entry-block a {
    text-decoration: none;
}
  
  .project-entry-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .project-img {
    width: 95%; 
    position: relative;
    z-index: 1;
    margin-top: 2.5%;
    border-radius: 5%;
  }

.project-caption {
    position: relative;
    margin-top: 3%;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900; /* Increase font-weight to the maximum value */
    text-shadow: 1px 1px 2px #333; /* Add a more pronounced text shadow */
    color: #333;
    z-index: 4;
    width: 90%; 
    margin-left: 5%;
    text-align: left;
  }

.project-genre {
    position: absolute;
    bottom: 0.5%;
    font-family: fantasy;
    font-weight: 1000; /* Increase font-weight to the maximum value */
    text-shadow: 1px 1px 2px #5073D6;
    color: #5073D6;
    z-index: 4;
    width: 95%; 
    font-family: 'Nunito', sans-serif;
}

.project-container {
    max-width: 30%;
    flex: 1 1 calc(33.333%);
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 4%;
}

/* Layout for medium screens (e.g., tablets, between 768px to 1024px) */
@media (max-width: 1024px) {
    .project-container {
        max-width: 45%;
        flex: 1 1 calc(50%);
    }
}

@media (max-width: 4092px) {
    .project-caption, .project-genre {
        font-size: 162%;
    }
  }
  @media (max-width: 2048px) {
    .project-caption, .project-genre {
        font-size: 135%;
    }
  }


@media (max-width: 767px) {
    .project-caption, .project-genre {
        font-size: 101.25%;
    }
  }
  
@media (max-width: 512px) {
    .project-caption, .project-genre {
        font-size: 67.5%;
    }
  }

